* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    background-color: #222;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    width: 80%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    border-radius: 40px 35px;
    padding: 40px 35px;
    text-align: center;
}

#search-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-bar input {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 12px 25px;
    border-radius: 30px;
    flex: 1;
    margin-right: 10px;
    font-size: 18px;
}

#search-bar button {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button .search-icon {
    width: 17px;
}

#weather .weather-icon {
    width: 170px;
    margin-top: 25px;
}

#weather h1 {
    font-size: 80px;
    font-weight: 500;
    margin-top: -10px;
}

#weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -25px;
}

#details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 40px;
}

#details .elem {
    display: flex;
    align-items: center;
    text-align: left;
}

.elem img {
    width: 40px;
    margin-right: 15px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -5px;
    font-weight: 600;
}



#weather {
    display: none;
}
#error {
    display: none;
}
